{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} | MyWebsite!</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/global.css" %}" rel="stylesheet">


    <style>
        body {
            padding-top: 5rem;
        }

        {% block extra_styles %}
        {% endblock %}
    </style>

</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">MySite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>

            <div id="login-links" class="mr-md-4">
                {% if request.user.is_authenticated %}
                    {{ request.user.username }}
                    <a href="{% url 'account_view' %}">Account</a><br/>
                    <a href="{% url 'logout' %}">Logout</a><br/>
                {% else %}
                    <a href="{% url 'login' %}">Login</a><br/>
                {% endif %}
            </div>
            {#        <form class="form-inline my-2 my-lg-0">#}
            {#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
            {#            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>#}
            {#        </form>#}
        </div>
    </nav>
{% endblock %}
<main role="main" class="container">


    <div id="primary-content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

<hr>

<footer>
    <p>&copy; Company 2099</p>
</footer>

</main><!-- /.container -->

<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>

</body>
</html>

